{% extends "base.html" %}


{% block content %}
  <h1>Школа+</h1>
  <p>
    Все знают, что в школе не учат многому действительно важному.
    Тут мы хотим собрать материалы для школьников, которыми хорошо бы овладеть
    к окончанию 11-го класса.
  </p>
  <p>
    О каждой теме мы вкратце расскажем и предоставим список ресурсов, на которых можно освоить необходимый минимум.
    Будем стараться собирать бесплатную информацию на русском.
  </p>
  <p>
    Статьи будут добавляться раз в несколько недель.
  </p>

  {% include 'partials/social_share.html' %}

  <div class="subscribe_well">
    <div id="mc_embed_signup">
    <form action="https://melevir.us13.list-manage.com/subscribe/post?u=a7c37a5707c9a1c86d86d294b&amp;id=386b115c0d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
      <h2>Подписаться на рассылку с новыми уроками</h2>
    <div class="mc-field-group">
      <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Электронная почта">
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a7c37a5707c9a1c86d86d294b_386b115c0d" tabindex="-1" value=""></div>
        <input type="submit" value="Подписаться" name="subscribe" id="mc-embedded-subscribe" class="button">
    </div>
      <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
      </div>
        </div>
    </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
  </div>

  <h2>Темы</h2>
  <h3><a href="/topics/computers/">
    <img class="topic_logo" src="/static/images/computer.svg" width="30" />
    Компьютерная грамотность
  </a></h3>
  <p>Чтобы знать, как пользоваться компьютером и быть в безопасности от мошенников.</p>

  <h3><a href="/topics/search/">
    <img class="topic_logo" src="/static/images/configuration.svg" width="30" />
    Поиск информации
  </a></h3>
  <p>Чтобы пользоваться поиском Google и Yandex как царь, а не как бабушка (бабушки, мы вас любим).</p>

  <h3><a href="/topics/training_and_nutrition/">
    <img class="topic_logo" src="/static/images/nutrition.svg" width="30" />
    Правильное питание и спорт
  </a></h3>
  <p>Чтобы быть здоровым и с кучей эндорфинов в крови.</p>

  <h3><a href="/topics/manners/">
    <img class="topic_logo" src="/static/images/chat.svg" width="30" />
    Онлайн-этикет
  </a></h3>
  <p>Чтобы не бесить взрослых и сверстников при общении онлайн.</p>

  <h3><a href="/topics/planning/">
    <img class="topic_logo" src="/static/images/agenda.svg" width="30" />
    Планирование времени
  </a></h3>
  <p>Чтобы всё успевать и не чувствовать себя усталым.</p>

  <h3><a href="/topics/english/">
    <img class="topic_logo" src="/static/images/reception.svg" width="30" />
    Английский язык
  </a></h3>
  <p>Чтобы можно было не ждать перевода новых серий "Игры престолов" и пользоваться английской Википедией.</p>

  <h3><a href="/topics/learning/">
    <img class="topic_logo" src="/static/images/hand.svg" width="30" />
    Как учиться
  </a></h3>
  <p>Чтобы не тратить кучу времени, быстро запоминать и узнавать много нового.</p>

  <h3><a href="/topics/critical_thinking/">
    <img class="topic_logo" src="/static/images/brain.svg" width="30" />
    Критическое мышление
  </a></h3>
  <p>Чтобы тебя было не так просто обмануть.</p>

  <h3><a href="/topics/money/">
    <img class="topic_logo" src="/static/images/credit-card.svg" width="30" />
    Что делать с деньгами
  </a></h3>
  <p>Чтобы тратить меньше, кайфа получать больше и ешё откладывать.</p>

  <h3><a href="/topics/sex/">
    <img class="topic_logo" src="/static/images/condom.svg" width="30" />
    <span>Секспросвет</span>
    <span class="badge_wrapper">
      <span class="badge">16+</span>
      <span class="text">
        Закон «О защите детей от информации, причиняющей вред их здоровью и развитию» запрещает «изображать и описывать действия сексуального характера» детям до 16 лет.
      </span>
    </span>

  </a></h3>
  <p>Чтобы не стать героем шоу "Беременна в 16". И не заразиться ВИЧ.</p>


<h3 class="disabled">Бытовая психология</h3>
<p class="disabled">Чтобы и тебе было комфортно с другими и другими с тобой.</p>

<h3 class="disabled">Навыки быта</h3>
<p class="disabled">Чтобы знать, как вызвать сантехника, оплатить электричество, получить загран и ещё много чего.</p>

{% endblock %}
