<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="" />
  <meta name="yandex-verification" content="eb0a76d90d251b60" />
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/graduate.png"/>
  <link rel="canonical" href="{{ CURRENT_PAGE.absolute_final_url }}" />


  <meta property="og:type" content="website"/>
  <meta property="og:locale" content="ru_RU"/>
  <meta name="twitter:domain" content="{{ DOMAIN }}"/>
  <meta name="twitter:creator" content="melevir@python.ru"/>
  <meta property="og:site_name" content="Школа+"/>
  <meta name="twitter:site" content="Школа+"/>
  <meta property="og:url" content="{{ DOMAIN }}"/>
  <meta name="twitter:url" content="{{ DOMAIN }}"/>
  <meta property="og:title" content="Школа+"/>
  <meta property="og:description" content="Учимся тому, чему не учат в школе"/>
  <meta property="og:image" content="{{ DOMAIN }}static/images/school_plus_fb.png"/>
  <meta property="og:image:secure_url" content="{{ DOMAIN }}static/images/school_plus_fb.png"/>
  <meta property="og:image:type" content="image/png"/>
  <meta property="og:image:width" content="600"/>
  <meta property="og:image:height" content="315"/>
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:title" content="Школа+"/>
  <meta name="twitter:description" content="Учимся тому, чему не учат в школе"/>
  <meta name="twitter:image:src" content="{{ DOMAIN }}static/images/school_plus_fb.png"/>


  <title>Школа+</title>

  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link href="{% static '/css/styles.css' %}" rel="stylesheet">
  <link href="{% static '/vendor/likely_2_3/likely.css' %}" rel="stylesheet">

</head>
<body>
  <!-- Yandex.Metrika counter --> <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter47665243 = new Ya.Metrika({ id:47665243, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/47665243" style="position:absolute; left:-9999px;" alt="" /></div></noscript> <!-- /Yandex.Metrika counter -->
  <div class="container">
    <div class="row">
      <div class="column column-80 column-offset-10">
        {% block content %}{% endblock %}

        <div class="footer row">
          <div class="column">
            Сделал <a href="http://melevir.com" target="_blank">Илья</a>.
          </div>
          <div class="column">
            Иконки сделаны на <a href="https://www.freepik.com/" target="_blank">Freepic</a> с <a href="https://www.flaticon.com" target="_blank">flaticon.com</a>.
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="{% static '/vendor/likely_2_3/likely.js' %}"></script>
  <script src="{% static '/js/main.js' %}"></script>
</body>
</html>
