{% extends "topic.html" %}


{% block topic_name %}Критическое мышление{% endblock %}


{% block topic_id %}2{% endblock %}


{% block topic_content %}
  <div class="danger_note">
    <p>
      Правильное понимание того, что такое критическое мышление, как им пользоваться и зачем
      оно нужно, может изменить твой круг общения, распорядок дня и жизнь. Без шуток.
    </p>
    <p>
      Ты скорее всего думаешь, что знаешь, что это такое, как оно работает и зачем оно нужно.
      Скорее всего это не так. Подходи к знакомству с критическим мышлением так же
      внимательно и осторожно, как к китайскому языку.
    </p>
  </div>
  <p>
    Ты наверняка слышал о критическом мышлении, это довольно популярный базворд.
    Впрочем, это не мешает тем, кто его использует, не знать, о чём это.
  </p>
  <p>
    В последние годы это стало особенно важным, ведь когнитивные науки шагнули в прикладную
    область и манипулировать тобой пытаются все: от рекламных роликов на Ютубе до
    программ лояльности, заставляющих тебя тратить больше. Давай разбираться, как с этим быть.
  </p>
  <p>
    Напоследок: критическое мышление – это не та штука, которую можно выучить, читая книжки.
    Это как езда на велосипеде: надо пробовать, падать, снова пробовать, только так получится.
    Поэтому помимо чтения старайся применять то, о чём ты прочитал, в жизни.
  </p>

  <h4 class="subtopic">Что такое критическое мышление</h4>
  <p>
    Тут собран набор материалов, которые позволят понять, что это вообще такое и зачем оно нужно.
    Советую проглядеть их все.
  </p>
  <ul data-subtopic-id="1">
    <li data-item-id="1"><a href="https://psychologytoday.ru/public/kriticheskoe-myshlenie/" target="_blank">Критическое мышление</a> (статья немного нудноватая, но неплохо объясняет тему).</li>
    <li data-item-id="2"><a href=https://newtonew.com/science/critical-thinking-guidance"" target="_blank">Критическое мышление: базовые принципы и приёмы</a>.</li>
    <li data-item-id="3"><a href="https://www.youtube.com/watch?v=2Y4mxStG5IE" target="_blank"><i class="fab fa-youtube"></i> Критическое мышление</a> (3:15).</li>
    <li data-item-id="4"><a href="https://www.youtube.com/watch?v=U5ynhXWtSyM" target="_blank"><i class="fab fa-youtube"></i> Когнитивные искажения и как с ними бороться (Рациональность для начинающих)</a>.</li>
    <li data-item-id="5"><a href="http://skepticsociety.ru/children/" target="_blank">О пользе критического мышления и научного подхода при воспитании детей</a> (статья для родителей, но очень хорошо рассказывает о предмете).</li>
  </ul>

  <h4 class="subtopic">Как овладеть критическим мышлением</h4>
  <p>
    Тут материалы для более глубокого изучения темы и внедрения в жизнь.
  </p>
  <ul data-subtopic-id="2">
    <li data-item-id="1"><a href="https://vumonline.ua/course/critical-thinking/" target="_blank">Курс "Введение в критическое мышление" от vumonline.ua</a> (сами видео на русском, а интерфейс на украинском, не пугайся).</li>
    <li data-item-id="2"><a href="http://hpmor.ru/" target="_blank">Гарри Поттер и методы рационального мышления</a> (это не шутка, книга – огонь).</li>
    <li data-item-id="3"><a href="https://4brain.ru/critical/" target="_blank">Курс по критическому мышлению на 4brain</a> (бесплатный).</li>
    <li data-item-id="4"><a href="http://evolkov.net/critic.think/basics/35dimensions.of.critic.think.html" target="_blank">35 аспектов критического мышления: стратегический список</a>.</li>
    <li data-item-id="5"><a href="https://lesswrong.ru/" target="_blank">lesswrong.ru</a> (тут куча интересного контента о рациональном мышлении).</li>
  </ul>
{% endblock %}
