{% extends "base.html" %}

{% block content %}
  <h1>
    Онлайн этикет
    <a href="/">← к списку уроков</a>
  </h1>

  <p>
    Если всё твоё общение – это перекидывание смайликами с одноклассниками, то едва ты задумывался о том, почему это важно.
    Но когда ты станешь общаться с преподавателями, начальниками, коллегами, какими-то непонятными людьми, которым что-то
    от тебя нужно, другими непонятными людьми, от которых тебе что-то нужно и другими – это резко станет важно.
    А когда каждый день стабильно придётся общаться больше, чем с парой десятков людей, правила общения онлайн станут
    жизненно важными.
  </p>

  <h4 class="subtopic">Общее</h4>
  <p>
  </p>
  <ul>
    <li><a href="http://neprivet.ru/" target="_blank">neprivet.ru</a> (ссылка, которую можно пассивно-агрессивно скидывать всем любителям поприветкать).</li>
    <li><a href="https://t.me/ya_vas_uslyshal" target="_blank"><i class="fab fa-telegram"></i> Деловая переписка</a> (канал в Telegram на тему всякого общения).</li>
    <li><a href="https://t.me/digitaletiquette" target="_blank"><i class="fab fa-telegram"></i> Цифровой этикет</a> (канал в Telegram про общение онлайн, не только деловое).</li>
    <li><a href="http://kompotique.ru/no-jokes/" target="_blank">Переговоры без пассивной агрессии</a>.</li>
    <li><a href="http://kompotique.ru/no-smile/" target="_blank">Смайлики в деловой переписке</a>.</li>
  </ul>

  <h4 class="subtopic">Русский язык</h4>
  <p>
  </p>
  <ul>
    <li><a href="https://therules.ru/" target="_blank">therules.ru</a> (фундаментальный сборник правил русского языка).</li>
    <li><a href="https://vk.com/dalwen?z=album159607_227127241" target="_blank">Русский язык в котах</a> (русский язык в комиксах от Анны Беловицкой).</li>
    <li><a href="https://www.adme.ru/svoboda-kultura/17-oshibok-v-russkom-yazyke-kotorye-hotya-by-raz-delal-kazhdyj-1055710/" target="_blank">17 ошибок в русском языке, которые хотя бы раз делал каждый</a>.</li>
    <li><a href="https://mel.fm/pravopisaniye/1582763-grammar_best" target="_blank">60 ошибок в русском языке, которые вы больше не будете делать</a>.</li>
    <li><a href="https://mel.fm/pravopisaniye" target="_blank">Статьи на mel.fm по тегу "правописание"</a> .</li>
    <li><a href="http://new.gramota.ru/spravka//letters/" target="_blank">Письмовник</a> (сборник ответов на частозадаваемые вопросы по русскому языку).</li>
  </ul>

  <h4 class="subtopic">Электронная почта</h4>
  <p>
  </p>
  <ul>
    <li><a href="http://kompotique.ru/permission-first/" target="_blank">Сначала спросить согласия</a>.</li>
    <li><a href="https://bureau.ru/bb/soviet/20121014/" target="_blank">Меня всегда ставит в тупик задача написания темы для письма</a>.</li>
    <li><a href="https://bureau.ru/bb/soviet/20151009/" target="_blank">Как напомнить в переписке постороннему человеку, от которого мне что-то нужно, что он обо мне забыл?</a></li>
    <li><a href="https://bureau.ru/bb/soviet/20150515/" target="_blank">Указывать ли человеку на то, что поздороваться надо?</a></li>
    <li><a href="https://bureau.ru/bb/soviet/20111230/" target="_blank">Насколько сейчас необходимо соблюдать все формальности в переписке по электронной почте?</a></li>
  </ul>

  <h4 class="subtopic">Социальные сети</h4>
  <p>
  </p>
  <ul>
    <li><a href="https://www.kaspersky.ru/blog/simple-rules-kids-social/4137/" target="_blank">Ваш ребенок и социальные сети: простые правила</a> (статья для родителей, зато по делу).</li>
    <li><a href="https://www.kaspersky.ru/blog/social-networking-rules/12083/" target="_blank">5 правил поведения в соцсетях</a> (отличный короткий список).</li>
    <li><a href="http://xn--e1afg4ad5d.com/%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%BD%D0%B5%D1%82%D0%BD%D1%8B%D0%B9/%D0%BF%D1%80%D0%B0%D0%B2%D0%B8%D0%BB%D0%B0-%D0%BF%D0%BE%D0%B2%D0%B5%D0%B4%D0%B5%D0%BD%D0%B8%D1%8F-%D0%B8-%D0%BE%D0%B1%D1%89%D0%B5%D0%BD%D0%B8%D1%8F-%D0%B2-%D1%81%D0%BE%D1%86%D0%B8%D0%B0%D0%BB%D1%8C.html" target="_blank">Правила поведения и общения в социальных сетях</a> (кажется, что слегка старомодные, но лучше уж перегнуть в эту сторону, чем в другую).</li>
  </ul>


{% endblock %}
