{% extends "topic.html" %}


{% block topic_name %}Что делать с деньгами{% endblock %}


{% block topic_id %}6{% endblock %}


{% block topic_content %}
  <p>
    В ближайшее время тебя, вероятно, ждут две проблемы: как прожить, когда денег
    совсем мало (стипендия) и что делать с этой кучей денег (первая зарплата).
  </p>
  <p>
    Хорошая новость в том, что сейчас управлять деньгами сильно легче: есть куча ресурсов,
    сервисов и всякого такого. Давай разбираться.
  </p>

  <h4 class="subtopic">Спонтанные покупки</h4>
  <p>
    Ты наверняка видел подобные вычисления: если каждый день покупать по чашке кофе за 100 рублей,
    то за месяц это 3000 рублей, а за год – 36 000 рублей. Что ты выберешь – кофе или неделю в
    Турции со своей второй половиной?
  </p>
  <p>
    Тут – материалы о том, что некоторые вещи тебе вообще не нужны и как быть, если очень хочется.
  </p>
  <ul data-subtopic-id="1">
    <li data-item-id="1"><a href="https://journal.tinkoff.ru/self-control/" target="_blank">Шопоголикам. Способ защиты от спонтанных покупок</a>.</li>
    <li data-item-id="2"><a href="https://journal.tinkoff.ru/blowoff/" target="_blank">Как перестать спускать деньги на ненужное</a>.</li>
  </ul>

  <h4 class="subtopic">Ежедневный бюджет</h4>
  <p>
    Классно вести бюджет, если ты терминатор – составил, ведёшь, всё ок.
    А вот если ты простой смертный, начинается всякая ерунда: то забыл, то перерасход, то
    спонтанная покупка, то ещё что-нибудь.
  </p>
  <p>
    Тут собраны статьи о том, как сделать этот процесс легче для простых людей.
  </p>
  <ul data-subtopic-id="2">
    <li data-item-id="1"><a href="https://journal.tinkoff.ru/spreadsheet/" target="_blank">У вас меньше денег, чем вы думаете</a>.</li>
    <li data-item-id="2"><a href="https://journal.tinkoff.ru/budget/" target="_blank">У меня нет воли. Как вести бюджет</a>.</li>
    <li data-item-id="3"><a href="https://journal.tinkoff.ru/750days/" target="_blank">750 дней жесткого бюджета</a>.</li>
    <li data-item-id="4"><a href="https://journal.tinkoff.ru/first-money/" target="_blank">Как жить на свои в 19 лет</a>.</li>
  </ul>

  <h4 class="subtopic">Как откладывать</h4>
  <p>
    Чтобы не только укладываться в бюджет, а ещё и откладывать на будущее, нужно быть не просто
    роботом, а каким-то полубогом. Если ты не из них, эти статьи помогут разобраться с тем,
    как откладывать в долгосрочной перспективе.
  </p>
  <ul data-subtopic-id="3">
    <li data-item-id="1"><a href="https://journal.tinkoff.ru/brainsystem/" target="_blank">Что делать, если вы не умеете копить</a>.</li>
    <li data-item-id="2"><a href="https://journal.tinkoff.ru/8-million/" target="_blank">Что такое кэшбэк и зачем он нужен</a>.</li>
    <li data-item-id="3"><a href="https://journal.tinkoff.ru/tinkoffblack/" target="_blank">Как заработать на Tinkoff Black</a> (или любой другой дебетовой карты в современном банке).</li>
  </ul>
{% endblock %}
